/* Estilos para personalizar la imagen de fondo de la página principal */
.principal {
  background-image: url('../Imagenes/shutterstock_1078387013-scaled.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para personalizar la imagen de fondo y el color del texto de la página de contacto */
.contactar {
  background-image: url('../imagenes/fondo-formulario.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para personalizar la imagen de fondo, el color del texto y los margenes de la página de servicios */
.servicios {
  background-image: url('../imagenes/dino-not-found-rainbow-4k-wallpaper.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #262424;
  height: 200%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para personalizar la imagen de fondo y el color del texto de la página de empresa */
.empresa {
  background-image: url('../imagenes/fondo-de-pantalla-midudev-logo.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center; 
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para perzonalizar los margenes de todas las páginas */
*{
  padding-left: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos para personalizar el apartado de las redes sociales(bordes,color de letra, alineacion) */
.redes-sociales {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  background-color: #333;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-top: 20px;
  width: 100%;
}
 
/* Estilos para personalizar los bordes y la posicion del contenedor del formulario de contacto */
.contenedor {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
  
/* Estilos para personalizar el color de fondo, y los bordes del formulario */
.formulario {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}
  
/* Estilos para personalizar el color y la alineacion del titulo del formulario */
.formulario h2 {
  color: #333;
  text-align: center;
}
  
/* Estilos para personalizar la disposicion de las entradas de texto del formulario */
form {
  display: flex;
  flex-direction: column;
}
  
/* Estilos para pesonalizar los bordes, el tipo de letra y el color de los titulos de las entradas de texto del formulario */
label {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
  
/* Estilos para personalizar los margenes y bordes de las entradas del formulario */
input,
textarea,
select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
/* Estilos para personalizar los botones del formulario */
button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilos para personalizar los margenes del mapa de localizacion */
.mapa{
  padding-top: 90px;
  padding-bottom: 90px;
}

/* Estilos para personalizar la alineacion y bordes de los apartados de la pagina servicios */
.servicioofrezco{
  text-align: center;
  padding-bottom: 20px;
  padding-left: 90px;
  padding-right: 90px;
}

/* Estilos para personalizar la alineacion, tamaño de letra y bordes de los parrafos de la pagina servicios */
.servicioofrezco p{
  text-align: justify;
  font-size: large;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #E7E7E7;
}

/* Estilos para personalizar los titulos de los parrafos de la pagina empresa */
.TitulosParrafos{
  text-decoration: underline;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color:#ab64d4;
}

/* Estilos para personalizar uno de los parrafos de la página empresa */
.ApartadosEmpresa{
  text-align: justify;
  float: left;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 45%;
  height: 35%;
}

/* Estilos para personalizar el segundo de los parrafos de la página empresa */
.ApartadosEmpresa1{
  text-align: justify;
  float:initial;
  padding-left: 40px;
  padding-top: 70px;
  padding-bottom: 40px;
  width: 45%;
  height: 35%;
}

/* Estilos para personalizar el tercero de los parrafos de la página empresa */
.ApartadosEmpresa2{
  text-align: justify;
  float:right;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

/* Estilos para personalizar la alineacion y bordes del titulo de la pagina empresa */
.TituloPrincipal{
  text-align: center;
  padding-top: 20px;
}

/* Estilos para poner en negrita los elementos de la lista del tercer parrafo de la pagina empresa */
li a{
  font-weight: bold;
}

/* Estilos para personalizar los bordes y alineacion de los parrafos del carrusel de lenguajes que manejo */
.parrafo {
  padding-left: 80px; /* Relleno izquierdo */
  padding-right: 80px; /* Relleno derecho */
  padding-bottom: 50px; /* Relleno inferior */
  text-align: justify; /* Justificar texto */
  background-color: #E7E7E7;
}
