/* Estilos para perzonalizar el footer de las p치ginas */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
    float: left;
  }
  
  /* Estilo para personalizar el tama침o del texto del footer */
  .footer p {
    margin: 0;
    font-size: 14px;
  }

  /* Estilos para personalizar el header de las p치ginas */
  header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
  }

  /* Estilo para personalizar el contenido de las p치ginas */
  .contenido{
    width: 100%;
  }

