/* Estilos para perzonalizar el footer de las páginas */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
    float: left;
  }
  
  /* Estilo para personalizar el tamaño del texto del footer */
  .footer p {
    margin: 0;
    font-size: 14px;
  }

  /* Estilos para personalizar el header de las páginas */
  header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
  }

  /* Estilo para personalizar el contenido de las páginas */
  .contenido{
    width: 100%;
  }


.opinion {
   display: none; /* Oculta todas las opiniones por defecto */
}

.opinion:first-child {
    display: block; /* Muestra solo la primera opinión al principio */
}